#weatherFor{
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
}
.container1{
    margin: auto;
    width: 21%;
    padding: 10px;
  }
  body{
    background-image: url(./images/image\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

  }
  .card 
  {
    background-color :transparent;
    backdrop-filter: blur(20px);
  }